/* Header gradient */
.gradient-h-custom {
    /* fallback for old browsers */
    background: #667eea;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(102, 126, 234, 0.5), rgba(54, 4, 103, 0.5));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(116, 138, 235), rgb(10, 0, 100))
  }

/* horizontal divider */
.custom-hr {
    border-top: 2px solid black;
    opacity: 100;
}

/* rounding the corners of each list item in past search history */
.custom-list-group {
    border-radius: 10px!important;
}

/* UV intensity element styling*/
#UVI{
    padding: 3px 6px 3px 6px;
    width: 20px;
    border-radius: 5px;
    color: white;
}

/* UV intensity colors */
.vhigh{
    background-color: red;
}

.high{
    background-color: orange;
}

.mod{
    background-color: yellow;
}

.low{
    background-color: green;
}

/* Icon sizing */
#primary img{
    width: 50px;
    height: auto;
}

#futureinfo img{
    width: 40px;
    height: auto;
}

/* Font and header custom styling */
.bg-dark h2{
    font-size: 16px;
    font-weight: bold;
}

#cityname{
    font-weight: bold;
}

#city-input::placeholder {
    color: red;
}